*~
*.bak
*.la
*.lo
*.o
*.so
.deps
.libs
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/debian/autoreconf.*
/debian/files
/debian/lib32nss-mdns.debhelper.log
/debian/lib32nss-mdns.substvars
/debian/lib32nss-mdns/
/debian/libnss-mdns.debhelper.log
/debian/libnss-mdns.postinst.debhelper
/debian/libnss-mdns.postrm.debhelper
/debian/libnss-mdns.substvars
/debian/libnss-mdns/
/debian/tmp/
/depcomp
/doc/README
/doc/README.html
/install-sh
/libtool
/ltmain.sh
/missing
/README
/src/*-test
/stamp-*
Makefile
Makefile.in
