*~
*.bak
*.la
*.lo
*.o
*.so
.deps
.libs
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/doc/README
/doc/README.html
/install-sh
/libtool
/ltmain.sh
/missing
/README
/src/*-test
/stamp-*
Makefile
Makefile.in
